<!DOCTYPE html>
<html lang="en" xml:lang="en">    
<head>       
    <meta charset="UTF-8">  
    <!-- Responsive Meta -->                    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon & bookmark -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"  href="images/bookmark.png" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" /> 
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Website Title -->
    <title>BPN Token</title>
    <!-- Stylesheets Start -->
    <link rel="stylesheet" href="css/fontawesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/fancybox/jquery.fancybox.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slick.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="css/responsive.css" type="text/css"/>
 
    
</head>
<body>
    <!--Main Wrapper Start-->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a href="/" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>

    <div class="clear"></div>
    
<script src="js/jquery.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/onpagescroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chart-function.js"></script>
<script src="js/fancybox/jquery.fancybox.min.js"></script>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
<script src="js/gold-app.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    setTimeout(function() {
        jQuery('.platinum-animation').addClass('start-animation');
    }, 1000);
    setTimeout(function() {
        jQuery('.platinum-animation .lines').addClass('active');
    }, 2000);
});
</script>
</body>

</html>
