<!--footer Start-->
<footer class="platinum-footer">
    <div class="footer-widget-area text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <div class="widget-area">
                        <div class="widget widget-html">
                            <div class="footer-logo">
                                <a href="#" title=""><img src="images/logo.png" alt="Cp Platinum"></a>
                            </div>
                            <div class="text">
                                <p>BPN is a token that provides you with multiple options for forex trading in different
                                    currencies
                                    across various platforms and different countries.</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-area">
                        <div class="widget">
                            <ul class="footer-menu horizontal-menu onepage">
                                <li><a href="#about">About ICO</a></li>
                                <li><a href="#convertor">Currency Convertor</a></li>
                                <li><a href="#token">Token</a></li>
                                <li><a href="#roadmap">Roadmap</a></li>
                                <li><a href="#team">Team</a></li>
                                <li><a href="#press">Media</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-area">
                        <div class="widget widget-html">
                            <h2 class="widget-title">Newsletter</h2>
                            <div class="text">
                                <p>Keep to date with our progress. Subscribe for e-mail updates.</p>
                            </div>
                            <div class="newsletter">
                                <form method="post">
                                    <input type="email" name="Email" placeholder="Your email address">
                                    <button class="btn" name="subscribe">subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="widget-area">
                        <div class="widget widget-html text-center">
                            <div class="socials">
                                <ul>
                                    <li><a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="https://instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy-text">© 2021 Bpntoken . Design & Developed by <a href="#">BPNtoken</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
</div>
<!--Main Wrapper End-->

<script src="js/jquery.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/onpagescroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chart-function.js"></script>
<script src="js/fancybox/jquery.fancybox.min.js"></script>
<script src="js/script.js"></script>
<script src="js/particles.js"></script>
<script src="js/gold-app.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    setTimeout(function() {
        jQuery('.platinum-animation').addClass('start-animation');
    }, 1000);
    setTimeout(function() {
        jQuery('.platinum-animation .lines').addClass('active');
    }, 2000);
});
</script>
</body>

</html>